td, th {
    vertical-align: middle !important;
    text-align: center !important;
}
svg {
    height: 150px;
}

td:first-of-type, td:first-of-type > div {
    height: 200px;
    width: 250px;
}

h1 {
    text-align: center;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.site-content {
    flex: 1;
}

footer {
    border-top: 1px solid #515151;
    padding-top: 1em;
}

a {
    text-decoration: none;
    color:#515151;
}

a:hover {
    text-decoration: none;    
    color: #786EA1; 
}